<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>
      {{ site.name }}&thinsp;&mdash;&thinsp;{{ title | default: site.description
      }}
    </title>
    <meta
      name="description"
      content="{{ description | default: site.description }}"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i|Yanone+Kaffeesatz:wght@700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    {% include header %}
    <main id="main" role="main">
      <h1>{{ title | default: site.description }}</h1>
      {{ content }}
    </main>
    {% include footer %}
  </body>
</html>
